{% extends "base.html.twig" %}
{% block body %}

{% for job in jobs %}
    <div>{{ job.title }}</div>
{% endfor %}

{{total_pages}}


{% if total_pages > 1 %}
    <div>
        {% if current_page > 1 %}
            <a href="{{ path('app_api', {'page': current_page - 1}) }}">Previous</a>
        {% endif %}

        {% for page in 1..total_pages %}
            {% if page == current_page %}
                <span>{{ page }}</span>
            {% else %}
                <a href="{{ path('app_api', {'page': page}) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page < total_pages %}
            <a href="{{ path('app_api', {'page': current_page + 1}) }}">Next</a>
        {% endif %}
    </div>
{% endif %}


{% endblock %}